<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userinfo</title>
</head>
<body>

<a th:href="@{/index}">返回</a>
<a th:href="@{/userInfo/userAdd}">添加用户</a>
<tr th:each="prod : ${list}">
    　　<td th:text="${prod.uid}">Onions</td>
    　　<td th:text="${prod.name}">2.41</td>
    　  <td th:text="${prod.username}">2.41</td>
        <a th:href="@{/userInfo/userModifyInfo(uid=${prod.uid})}">编辑用户</a>
        <a th:href="@{/userInfo/userDel(uid=${prod.uid})}">删除用户</a>
</tr>
</body>
</html>